<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpressJS</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <%- include("../views/header.ejs")%>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <section>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
            <article>
                <h2>TRANG CHỦ</h2>
                <p>hello world</p>
            </article>
        </section>
        <%- include("../views/footer.ejs")%>

</body>

</html>