<!DOCTYPE html>
<html>

<head>
    <title>Đăng Kí</title>
</head>

<body>
    <h1>Đăng Kí</h1>
    <form action="/account/register" ; method="POST">
        <label for="username">Tài khoản:</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password"><br>
        <label for="password">Xác nhận mật khẩu:</label>
        <input type="password" id="repassword" name="repassword"><br>

        <input type="submit" value="Đăng Kí">
    </form>
</body>

</html>